   /* common shared style */
   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
   }

   html,body{
    overflow-x: hidden
   }

   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;800&display=swap');

   * {
       font-family: 'Open Sans', sans-serif;
   }

   .text-primary {
       color: #FD6E0A;
   }

   .btn-primary {
       border-radius: 5px;
       background: #FD6E0A;
       border: 0;
       font-size: 20px;
       color: white;
       font-weight: 700;
       padding: 15px 35px;
       cursor: pointer;
   }

   .section-title {
       color: #181818;
       text-align: center;
       font-size: 35px;
       font-weight: 700;


   }

   main {
       max-width: 1140px;
       margin: 0px auto;

   }

   main section {
       margin-top: 150px;
   }

   /* nav style  */
   nav {

       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 0px 200px;

   }

   .nav-title {

       color: #181818;
       font-weight: 800;
       font-size: 45px;
   }

   nav ul {
       display: flex;
       align-items: center;
   }

   nav li {
       list-style: none;
       margin-right: 50px;
   }

   nav a {
       text-decoration: none;
       color: #474747;
       font-size: 20px;
       font-weight: 400;

   }

   /* header related syle */
   .header {
       background-color: #FFF8F3;
       background-image: url("images/header_bg.png");
       background-repeat: no-repeat;
       background-position: bottom right;


   }

   .banner {
       padding: 30px 30px 0px 130px;
       display: flex;
       justify-content: space-between;
       align-items: center;

   }

   .banner-content {
       width: 500px;
   }

   .banner-content .banner-greeting {
       color: #474747;
       font-size: 45px;
       font-weight: 600;
       margin-bottom: 0;

   }

   .banner-content .banner-title {
       color: #181818;
       font-size: 85px;
       font-weight: 700;
       margin-top: 5px;
   }

   .banner-content .banner-dec {
       color: #757575;
       font-size: 18px;
       font-weight: 400;
       margin-top: 20px;
       margin-bottom: 30px;
   }

   .banner img {
       max-width: 500px;
   }
   .banner-dec{
    width: 80%;
   }


   /* about style */

   .about {

       background-color: #FFF8F3;
       padding: 150px;
   }

   .section-des {

       margin: 30px 0px;
       color: #757575;
   }

   .about-info-container {
       display: flex;
       justify-content: space-around;
       text-align: center;
   }

   .info-title {
       color: #757575;
       font-size: 20px;

       font-weight: 400;

   }

   .info-des {
       color: #474747;
       font-size: 20px;

       font-weight: 400;
   }

   /* what i do section */


   .what-i-do-des {
       color: #757575;
       text-align: center;
       font-size: 18px;
       font-weight: 400;
       padding: 50px 150px;

   }

   .skill-container {
       display: flex;
       justify-content: space-around;
       gap: 24px;
   }

   .skill-info {
       padding: 30px;

       border-radius: 5px;
       background: #FFF;
       box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   }

   .skill-title {
       color: #181818;
       font-size: 20px;
       font-weight: 700;
       padding: 10px 0px;

   }

   .skill-des {

       color: #757575;
       font-size: 16px;
       font-weight: 400;

   }

   .resume-container {
       display: flex;
       gap: 20px;
       padding-top: 5rem;
   }

   .resume-item-title {
       color: #474747;
       font-size: 25px;
       font-weight: 700;
       padding: 20px 0px;
   }

   .resume-item-institude {
       color: #757575;
       font-size: 20px;
       font-weight: 600;

   }

   .resume-item-des {

       color: #757575;
       font-size: 16px;
       font-weight: 400;
       padding: 20px 0px;
   }

   /* footer syle */

footer{
    background-color: #FFF8F3;
}
   .footer-container {
       display: flex;
      gap: 117px;
      padding: 150px;
   }

   .footer-title {
       color: #181818;
       font-weight: 700;
   }

   .footer-des {
       padding: 20px 0px;
       color: #474747;
       font-size: 16px;
       font-weight: 400;
       max-width: 500px;
   }
.padding-top{
    padding-bottom: 20px;
}
   form input[type="text"], form input[type="email"],form textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 350px 18px 30px;
    border-radius: 5px;
    width: 461px;
   }

.hide{
    display: none;
}

   /* responsive for mobile device/small device  */

   @media screen and (max-width:576px) {
    .banner {
        background-image: none;
    }
    .about,.about-info-container,.banner,nav,.nav ul,
    .skill-container,.resume-container,.footer-container {
        flex-direction: column;
    }
    .about-info-container{
        gap: 20px;
    }
  nav ul{
    
     flex-direction: column;
     gap: 10px;
  }
    .what-i-do-des,.resume-column,.footer-container,
    .about{
        padding: 20px;
    }
    .banner-content .banner-title{
        font-size: 45px;
    }
    .banner-btn{
     
         padding: 10px;
         font-weight: 200;
         font-size: 15px;

    }
    .banner img{
        width: 100%;
    }

    .banner-btn{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
    }
   }
